
<div class="container">

	<!--&lt;!&ndash;Status change modal&ndash;&gt;-->
	<!--<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModal">-->
		<!--<div class="modal-dialog" role="document">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header">-->
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
							<!--aria-hidden="true">&times;</span></button>-->
					<!--<h4 class="modal-title" id="statusModalLabel">Change Evaluation Status</h4>-->
				<!--</div>-->
				<!--<div class="modal-body">-->
					<!--<div class="row">-->
						<!--<div class="col-md-6">-->
							<!--<div class="form-group"><label>Current Status</label> <br>-->
								<!--&lt;!&ndash;label for Created status&ndash;&gt;-->
								<!--<span class="label label-success" ng-show="evaluation.status=='Created'">{{evaluation.status}}</span>-->
								<!--&lt;!&ndash;label for Published status&ndash;&gt;-->
								<!--<span class="label label-warning" ng-show="evaluation.status=='Published'">{{evaluation.status}}</span>-->
								<!--&lt;!&ndash;label for Closed status&ndash;&gt;-->
								<!--<span class="label label-danger" ng-show="evaluation.status=='Closed'">{{evaluation.status}}</span>-->
								<!--&lt;!&ndash;label for Finished status&ndash;&gt;-->
								<!--<span class="label label-info" ng-show="evaluation.status=='Finished'">{{evaluation.status}}</span>-->
							<!--</div>-->

							<!--&lt;!&ndash;Eval state description text&ndash;&gt;-->
							<!--<p ng-show="evaluation.status == 'Finished'" class="help-block">This evaluation has-->
								<!--finished. Results are available.</p>-->
							<!--<p ng-show="evaluation.status != 'Published'" class="help-block">This evaluation is not-->
								<!--visible to students.</p>-->
							<!--<p ng-show="evaluation.status == 'Published'" class="help-block">This evaluation is-->
								<!--currently visible to participants.</p>-->

							<!--<p ng-show="evaluation.status == 'Closed'" class="help-block"> This evaluation can be made-->
								<!--visible once again if its finish date has not passed.</p>-->

							<!--<p ng-show="evaluation.status == 'Created'" class="help-block">This evaluation can be-->
								<!--modified.</p>-->
							<!--<p ng-show="evaluation.status != 'Created'" class="help-block">This evaluation can not be-->
								<!--modified.</p>-->

						<!--</div>-->
						<!--<div class="col-md-6">-->
							<!--<div class="form-group"><label>New Status</label>-->
								<!--<select ng-show="evaluation.status != 'Finished'" ng-model="newStatus"-->
								        <!--class="form-control">-->
									<!--<option ng-show="evaluation.status == 'Created'" value="Published">Published-->
									<!--</option>-->
									<!--<option ng-show="evaluation.status == 'Published'" value="Closed">Closed</option>-->
									<!--<option ng-show="evaluation.status == 'Closed'" value="Published">Published</option>-->
								<!--</select>-->

								<!--<div ng-show="evaluation.status == 'Finished'">-->
									<!--<p>This evaluation has finished.</p>-->
									<!--<button type="button" class="btn btn-xs btn-default"-->
									        <!--ng-click="viewResultsBtnClick(evaluation.id)">View Results-->
									<!--</button>-->
									<!--<button type="button" class="btn btn-xs btn-default"-->
									        <!--ng-click="copyEvaluationBtnClick()">New From Template-->
									<!--</button>-->

								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->
				<!--<div class="modal-footer">-->
					<!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
					<!--<button type="button" class="btn btn-default" ng-click="updateStatusBtnClick()">Save changes-->
					<!--</button>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->


	<h2 class="text-center">{{calendarTitle}}</h2>

	<div class="row">
		<button ng-show="calendarView == 'day'" class="btn btn-warning" ng-click="calendarView = 'month'">Month View</button>
		<div ng-show="calendarView == 'month'" class="btn-group">
			<button class="btn btn-warning" mwl-date-modifier date="calendarDate" decrement="calendarView">Previous Month</button>
			<button class="btn btn-default" mwl-date-modifier date="calendarDate" set-to-today>Today</button>
			<button class=" btn btn-warning" mwl-date-modifier date="calendarDate" increment="calendarView">Next Month</button>
		</div>

		<button class="btn btn-success pull-right" ng-click="newEventBtnClick()">New Event</button>
	</div>


	<mwl-calendar
		view="calendarView"
		view-date="calendarDate"
		events="events"
		view-title="calendarTitle"
		on-event-click="onEventClicked(calendarEvent)"
		on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
		edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
		delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
		on-edit-event-click="eventEdited(calendarEvent)"
		on-delete-event-click="eventDeleted(calendarEvent)"
		cell-is-open="true">
</mwl-calendar>

</div>