#calendarControlBtnRow {
	margin-bottom: 10px;
	padding: 0 15px;
}

#calendarContainer {
	margin-top: 10px;

}

#weather {
	width:40%;
	text-align: center;
}

#weather p {
	margin-bottom: 0px;
}

#weather span {
	padding: 0 5px;
}

p.help-block {
	color: #a94442;
}