
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#calendarControlBtnRow {
	margin-bottom: 10px;
	padding: 0 15px;
}

#calendarContainer {
	margin-top: 10px;

}

#weather {
	width:40%;
	text-align: center;
}

#weather p {
	margin-bottom: 0px;
}

#weather span {
	padding: 0 5px;
}

p.help-block {
	color: #a94442;
}